.home {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  user-select: none;
}

.homeImage {
  min-width: 800px;
  min-height: 420px;
  background: url(../images/bugatti-chiron-car-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

.homeLeftContainer {
  margin-right: 100px;
}

.bugattiATag {
  text-decoration: none;
}

.homeH1Tag1 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
}

.homeH1Tag3 {
  color: rgb(0, 193, 219);
}

.homeH1Tag {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  padding-right: 5px;
  margin-top: -15px;
}

.homeA1Tag {
  color: #7b7d7e;
  font-family: "Roboto", sans-serif;
  width: 300px;
}

.homeA1Tag1 {
  width: 160px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 193, 219);
  height: 50px;
  color: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.38s ease-in-out;
  margin-top: 15px;
}

.homeA1Tag1:hover {
  background-color: rgb(0, 214, 242);
}
