.home {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  user-select: none;
}

.homeImage {
  min-width: 800px;
  min-height: 400px;
  background: url(../images/f2dadf695461017662.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  position: absolute;
  right: 0;
}

.homeH1Tag1 {
  font-family: "Roboto", sans-serif;
}

.homeH1Tag {
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.homeA1Tag {
  font-family: "Roboto", sans-serif;
}

.homeA1Tag1 {
  width: 160px;
  font-family: "Roboto", sans-serif;
  background-color: #ea1b2a;
  height: 50px;
  color: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
